streamlit>=1.36.0
pandas>=2.2.2
numpy>=1.26.4
plotly>=5.24.0
yfinance>=0.2.54
requests>=2.32.3
scikit-learn>=1.5.1
joblib>=1.4.2
ta>=0.11.0

xgboost
lightgbm
catboost
optuna
tensorflow
keras
shap

isyatirimhisse
tvDatafeed
PyPortfolioOpt
gymnasium
gym-anytrading
stable-baselines3
aiohttp