streamlit==1.59.2

pandas>=2.2.2
numpy>=1.26.4,<2.0
plotly>=5.24.0
requests>=2.32.3
yfinance>=0.2.54
aiohttp>=3.12.0

scikit-learn>=1.5.1
joblib>=1.4.2

xgboost>=3.0.0
lightgbm>=4.6.0
catboost>=1.2.8
optuna>=4.5.0

tensorflow==2.19.0
keras==3.11.0
shap>=0.48.0

ta>=0.11.0
PyPortfolioOpt
gymnasium
gym-anytrading
stable-baselines3

isyatirimhisse
git+https://github.com/rongardF/tvdatafeed.git